.skills {
  padding: 130px 0;
  &-title {
    padding-top: 20px;
  }
  &__wrapper {

    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-gap: 10px;
    padding: 60px 10px 0 10px;

  }
  &__item {
    border: 1px solid #000000;
    padding: 30px;
    .descr_fz12 {
        font-size: 12px;
        line-height: 18px;
      }
    }
  &__progress__wrapper {
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-column-gap: 45px;
    grid-row-gap: 30px;

  }
  &__progress__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    h4 {
      padding-left: 15px;
      @include before_circle;

    }
    h4.skills__progress__subtitle {
      font-weight: 500;
    }

  }
  .progress__bar-line{
    margin-top: 20px;
    max-width: 350px;
    background: #E8E4DE;
    height: 14px;
    border-radius: 4px;
    span {
      display: block;
      height: 100%;
      background-color: $main-color;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      
    }
    
  }
}

